*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #1b1919;

}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

input {
  appearance: none;
}

.button {
  background-color: transparent;
  color: inherit;
  border: 1px solid currentColor;
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.content {
  margin: 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.result {
  width: 62.4%;
}

.result__video-container {
  position: relative;
  inset: 0;
  width: 100%;
  height: 386px;
  margin-top: 83px;
  margin-bottom: 12px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 30px;
  margin-top: 17px;
}

.search-form__label {
  width: fit-content;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  margin-bottom: 4px;
}

.search-form__textfield {
  width: 225px;
  background-color: inherit;
  border-bottom: 1px solid currentColor;
  border-top: 1px solid currentColor;
  border-right: none;
  border-left: none;
  appearance: none;
  font-family: "Fira Sans Condensed", sans-serif;
  color: currentColor;
  font-weight: 400;
  font-size: 17.7px;
  line-height: 23px;
}

.search-form__fieldset:has(.search-form__checkbox-list) {
  margin: 1px 0px 4px 8px;
}

.search-form__checkbox-list {
  width: 225px;
  display: flex;
  gap: 11px;
}

.search-form__label {
  display: flex;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 3px 1px 0 4px;
  background-color: transparent;
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  background-color: #fff;
}

.search-form__label-text:not(:first-child) {
  margin-left: 8px;
}

.search-form__submit-button {
  width: 194px;
  height: 34px;
}

.content__details {
  width: 35%;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 71px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 15px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  inset: 0;
  margin-top: 11px;
  width: 400px;
  height: 301px;
  overflow: auto;
  scrollbar-width: none;
  text-decoration: none;
}

.content__card-link { /*Псевдокласс :active указан ниже как и псевдоклассы :hover,:focus*/
  display: block;
  text-decoration: none;
  color: #fff;
  margin: 0 3px;
}

.content__list-item:first-child {
  margin-top: 3px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 26px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  height: 109px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}

.content__video-card-title {
  max-width: 192px;
  margin-top: 1px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  min-height: 20px;
  max-height: 32%;
  max-width: 192px;
  font-family: "Fira Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  word-break: break-all;
  overflow: auto;
}

.content__video-card-thumbnail {
  width: 197px;
  height: 103px;
  margin-top: 4px;
  padding-left: 2px;
  object-position: center;
  object-fit: cover;
  grid-column: 2/3;
}

.more-button {
  width: 99.5%;
  height: 32px;
  margin: 6px 1px;
}

.button:active {
  background-color: #545050;
}

.search-form__textfield:active {
  border: 1px solid currentColor;
}

.search-form__pseudo-checkbox:active {
  background-color: #fff;
}

.content__card-link:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__label-text:hover,
.search-form__label:hover > .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:hover {
  text-decoration: underline;
}

.button:focus,
.search-form__label:focus-within,
.search-form__textfield:focus,
.content__card-link:focus {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox:focus {
  outline: none;
}

a:focus {
  outline: none;
}
